@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "new-age";
@import "page";

#applyModal{

  .modal-dialog.modal-dialog{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .form-group.preview{
    padding: 10px;

    .img-responsive{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      &:before{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '預覽中';
        color: rgba(255, 255, 255, .7);
        font-size: 2em;
        letter-spacing: 10px;
      }
    }

    @media (max-width: $screen-xs-max) {
      .img-responsive{ height: 200px; }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .img-responsive{ height: 300px; }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      .img-responsive{ height: 300px; }
    }
    @media (min-width: $screen-lg-min) {
      .img-responsive{ height: 300px; }
    }

  }
}
