section.block{
  .department{
    margin-top: 100px;
    .carousel{
      height: 350px;
      border-radius: 5px;
      overflow: hidden;
      .img{
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: none;
        &.active{
          display: block;
        }
        .apply-to{
          font-size: 12px;
          padding: 10px;
          color: white;
          background-color: rgba(#000, .7);
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 3px;
        }
        .apply-hint{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 10px;
          text-align: center;
          color: #bbb;
          font-size: 12px;
          background-color: rgba(#000, .7);
          a{
            color: white;
            &.fb{
              position: relative;
              padding-left: 15px;
              &:after{
                content: '';
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px 10px;
                width: 10px;
                height: 10px;
                background-image: url(/images/icon-facebook.svg);
                z-index: 1;
                position: absolute;
                left: 0px;
                top: 4px;
              }
              &:before{
                position: absolute;
                content: '';
                width: 8px;
                height: 8px;
                background-color: white;
                left: 1px;
                top: 6px;
              }
            }
            &.map{
              padding-left: 15px;
              background-size: 10px 10px;
              background-repeat: no-repeat;
              background-position: left center;
              background-image: url(/images/icon-maps-and-flags.svg);
            }
          }
        }
      }
    }
    h2{
      font-size: 35px;
    }
    .dl-horizontal{
      font-size: 18px;
      @media (min-width: 768px) {
        dt{
          width: 100px;
        }
        dd{
          margin-left: 120px;
          letter-spacing: 20px;
          font-size: 20px;
          margin-bottom: 0px;
        }
      }
      dd{
        letter-spacing: 20px;
        font-size: 20px;
        &.lv1{ color: #7fe159; }
        &.lv2{ color: #90b851; }
        &.lv3{ color: #a38a48; }
        &.lv4{ color: #b8553e; }
        &.lv5{ color: #c53838; }
      }

      @media (max-width: 767px) {
        dd{
          letter-spacing: 20px;
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
